@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mulish:wght@600;700&display=swap');

.bottomcontent {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.card {
	display: flex;
	height: 18vh;
	width: 90%;
	margin: 0px 0px 25px 5%;
	background-color: white;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4);
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	height: 100%;
}

.firstline {
	font-family: Mulish-Bold;
	font-size: 0.8em;
	color: var(--thirdcolor);
}

.name {
	display: flex;
	width: 100%;
	font-family: Montserrat-Bold;
	font-size: 1.25em;
	color: var(--firstcolor);
	margin-left: 2.5vh;
}

.picture {
	display: flex;
	width: 40%;
	height: 100%;
}

.picture img {
	height: 100%;
	object-fit: scale-down;
	object-position: 50% 0%;
}

.secondline {
	font-family: Montserrat-Bold;
	font-size: 0.8em;
	color: var(--firstcolor);
}

.rank,
.points,
.country,
.birthday,
.age,
.weight,
.height {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@media screen and (min-width: 900px) {
	.bottomcontent {
		display: flex;
		width: 100%;
		justify-content: space-around;
	}

	.card {
		display: flex;
		height: 18vh;
		width: 35vw;
		margin: 0px 0px 25px 10vw;
		background-color: white;
		-webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4);
		box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4);
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 70%;
		height: 100%;
	}

	.firstline {
		font-family: 'Mulish-Bold';
		font-size: 1em;
		color: var(--thirdcolor);
		letter-spacing: 0.1em;
	}

	.name {
		width: 100%;
		font-family: 'Montserrat-Bold';
		font-size: 1.5em;
		color: var(--firstcolor);
	}

	.picture {
		display: flex;
		width: 30%;
		height: 100%;
		/* border: solid 1px blue; */
	}

	.picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 50% 0%;
	}

	.secondline {
		font-family: 'Montserrat-Bold';
		font-size: 1em;
		color: var(--firstcolor);
	}

	.rank,
	.points,
	.country,
	.birthday,
	.age,
	.weight,
	.height {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

@media screen and (min-width: 1450px) {
	.bottomcontent {
		display: flex;
		width: 100%;
		justify-content: space-around;
	}

	.card {
		display: flex;
		height: 18vh;
		width: 35vw;
		/* border: solid 2px black; */
		margin: 0px 0px 3vh 10vw;
		background-color: white;
		-webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4);
		box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.4);
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 70%;
		height: 100%;
		/* border: solid 1px red; */
	}

	.firstline {
		font-family: Mulish-Bold;
		font-size: 1.25em;
		color: var(--thirdcolor);
		letter-spacing: 0.15em;
	}

	.name {
		width: 100%;
		font-family: Montserrat-Bold;
		font-size: 1.75em;
		color: var(--firstcolor);
		margin-left: 5vh;
	}

	.picture {
		display: flex;
		width: 30%;
		height: 100%;
		/* border: solid 1px blue; */
	}

	.picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 50% 0%;
	}

	.secondline {
		font-family: Montserrat-Bold;
		font-size: 1.25em;
		color: var(--firstcolor);
	}

	.rank,
	.points,
	.country,
	.birthday,
	.age,
	.weight,
	.height {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

@media screen and (min-width: 2000px) {
	.firstline {
		font-size: 1.5em;
		margin-bottom: 1vh;
	}

	.name {
		font-size: 2.5em;
		margin-left: 7vh;
	}

	.secondline {
		font-size: 1.5em;
	}
}
