.App {
	display: flex;
	text-align: center;
	min-height: 100vh;
	font-style: normal;
	/* background: rgb(207, 130, 78); */
	/* background-attachment: fixed; */
	/* background: linear-gradient(
		180deg,
		rgba(207, 130, 78, 1) 0%,
		rgba(244, 192, 117, 1) 70%,
		rgba(236, 184, 137, 1) 100%
	); */

	background: url('assets/balle.png'),
		linear-gradient(
			180deg,
			rgba(207, 130, 78, 1) 0%,
			rgba(244, 192, 117, 1) 70%,
			rgba(236, 184, 137, 1) 100%
		),
		no-repeat scroll 100% 100%;

	padding-top: 50px;
}

a {
	text-decoration: none;
}

/* .background {
	height: 50vh;
	width: 100%;
	background-image: url('./assets/balle.png');
} */

.searchplayer {
	display: flex;
	width: 35vw;
	height: 80px;
	margin: 0px 0px 50px 10vw;
}

#inputsearch {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	padding-left: 25px;
	color: var(--secondcolor);
	font-family: Montserrat-Bold;
	font-size: 1.5em;
	background-color: var(--thirdcolor);
	border-style: none;
}

#inputsearch:focus {
	outline: 2px solid var(--secondcolor);
}

.sortlist {
	display: flex;
	flex-direction: column;
	width: 35vw;
	height: 80px;
	margin: 0px 0px 50px 10vw;
	border-radius: 25px;
	color: var(--secondcolor);
	font-family: Montserrat-Bold;
	font-size: 1.5em;
	background-color: var(--thirdcolor);
	border-style: none;
}

.top {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.bottom {
	display: flex;
	justify-content: space-around;
	height: 100%;
}

.sortbyrank,
.sortbypoints,
.sortbycountry,
.sortbylastname {
	display: flex;
	cursor: pointer;
	transition: 0.5s;
	padding: 0px 10px 0px 10px;
	border-radius: 15px;
	justify-content: center;
	align-items: center;
}

.sortbyrank:hover,
.sortbypoints:hover,
.sortbycountry:hover,
.sortbylastname:hover {
	background-color: var(--moredark);
}
