@font-face {
	font-family: 'Montserrat-Bold';
	src: local('Montserrat-Bold'),
		url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Mulish-Bold';
	src: local('Mulish-Bold'), url('./fonts/Mulish-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Mulish-SemiBold';
	src: local('Mulish-SemiBoldd'),
		url('./fonts/Mulish-SemiBold.ttf') format('truetype');
}

:root {
	--firstcolor: #f2753b;
	--secondcolor: #ebad65;
	--thirdcolor: rgb(0, 0, 0, 0.3);
	--moredark: rgb(0, 0, 0, 0.5);
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
